body {
    background-image: url('../img/cocheLogin.jpg');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

main {
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #f5f5f5; */
}

@media (min-width: 988px) {
    .form-signin {
        width: 100%;
        max-width: 500px;
        padding: 15px;
        margin: auto;
    }
}


.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin input{
    margin-bottom: 10px;
}
.form-signin input[type="email"] {
    /* margin-bottom: -1px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-top: -11px; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

label.error {
    color: red;
    font-size: 20px;
    display: block;
    margin-top: 5px;
    position: relative;
    left: 20px;
}

input.error, textarea.error {
    border: 3px solid red;
    font-weight: 300;
    color: red;
}